body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1421&q=80);
    
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 10px blueviolet;
}

.clock {
    display: flex;
}

.clock div {
    margin: 10px;
    color: white;
    position: relative;
}

.clock span {
    font-size: 50px;
    width: 100px;
    height: 80px;
    background-color: rgba(202, 6, 251, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 10px black;

}

#text {
    font-size: 12px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgba(251, 6, 251, .5);
    
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px; 
    background-color: rgba(251, 6, 251, .5);
}

